* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #757575 transparent;
}







/* Typing Indicator CSS */
.typing-indicator-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.typing-text {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    margin-right: 8px;
    color: #1976d2;
    font-family: sans-serif;
}

.typing-indicator-container {
    padding: 8px;
    display: flex;
    justify-content: flex-start;
}

.typing-indicator-dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #1976d2;
    animation: blink 1.4s infinite ease-in-out;
}

.typing-indicator-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.typing-indicator-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {

    0%,
    80%,
    100% {
        opacity: 0.3;
        transform: scale(0.8);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}